.App {
  text-align: center;
  background-color: aqua;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  padding: 20px;
  font-family: Arial;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.card button {
  margin-top: 10px;
  padding: 8px 12px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.card button:hover {
  background: #27ae60;
}

.cartBox {
  margin-top: 40px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 12px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.qtyButtons button {
  padding: 5px 10px;
  font-size: 16px;
}

.qtyButtons span {
  margin: 0 10px;
  font-size: 18px;
}

